@charset "UTF-8";

@font-face {
    font-family: 'FonteLogo';
    src: url();
}

* {
    text-decoration: none;
}


body {
    background-image: url("../imagens/tela_fundo_home.png");
    color: rgb(0, 0, 0);
    font-size: larger;
}

h1 {
    color: rgb(0, 0, 0);
    left: 50%;
    font-size: 42;
}

#corpo {
    display: block;
    width: 300px;
    float: left;
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 25px;
    background-color: rgb(86, 16, 185);
    box-shadow: 0px 0px 10px rgb(27, 29, 27);
    text-decoration: none;
    border-radius: 10px;
    
}


#informacoes {

    background: rgb(2, 0, 36);
    border-radius: 10px;
    background: rgb(86, 16, 185);
    background: linear-gradient(90deg, rgba(86, 16, 185) 50%, rgba(139,14,200,1) 100%);    text-align: center;
    margin-top: -10;
    padding: 0.5;
    box-shadow: 0px 0px 10px rgb(27, 29, 27);
    font-size: 25;
}

#subtitulo {
    text-align: center;
    font-size: 27;
    transition: 1s;
}

#interface {
    width: 900px;
    margin: -20px auto 0px auto;
    padding: 20px 10px 10px 10px;
    background-color: rgb(227, 227, 227);
}

#imagem {
    text-align: center;
    margin-top: 750;

}

#menu ol {
    display: block;

}

#menu ol {
    list-style: none;
    position: absolute;
    top: 300px;
    left: -30;
}

#menu li {
    background-color: rgb(253, 249, 249);
    color: rgb(0, 0, 0);
    padding: 10PX;
    margin: 1, 5px;
    width: 300px;
    transition: background-color 1s;
    text-align: center;
    border-radius: 10px;
}

a {
    color: #070707;

}

#menu a:hover {
    color: #2e08a0;
}