
h3#subtitulo {
    text-align: center;
    font-size: 27;
    transition: 1s; 
    
    
}

div#interface {
    width: 900px;
    margin: -20px auto 0px auto;
    padding: 20px 10px 10px 10px; /*DISTANCIA DAS LETRAS DA MERGEM*/
    background-color: rgb(227, 227, 227);
}

hgroup#informacoes {

  background-color: rgb(148, 153, 175);
  text-align: center;
  margin-top: 5;
  padding: 0.5;
  box-shadow: 0px 0px 10px rgb(27, 29, 27) ; /* SOMBREAMENTO DA MARGEM*/
  font-size: 25;
}

hgroup#dados {
    background-color: rgb(148, 153, 175);
    box-shadow: 0px 0px 10px rgb(27, 29, 27) ; /* SOMBREAMENTO DA MARGEM*/
    padding: 50;
    
}


.ctnr{
    width: calc(100vw - 300px) !important;
    position: absolute !important;
    right: 0 !important;
}