
#dados {
    background-color: rgb(148, 153, 175);
    box-shadow: 0px 0px 10px rgb(27, 29, 27);
    padding: 50;

}


#fotoHome{
    height: 90%;
    width: 85%; 
    top: 110px;
    position: absolute;
}